<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <title>Task</title>
</head>

<body>
<section class="section is-fullheight is-light">
  <div class="container">
    
    <!-- FORM TAMBAH TASK -->
    <div class="columns is-centered">
      <div class="column is-12-mobile is-6-tablet is-4-desktop">
        
        <div class="card">
          <div class="card-content">
            <p class="title has-text-centered">ADD TASK</p>

            <form action="{% url 'task_app:add_task' %}" method="POST">
              {% csrf_token %}
              <div class="field">
                <label class="label">Add Task</label>
                <div class="control">
                  <input type="text" name="task" 
                         class="input is-primary" 
                         placeholder="Masukkan tugas" 
                         required>
                </div>
              </div>

              <button type="submit" class="button is-primary is-fullwidth">
                Add
              </button>
            </form>

          </div>
        </div>

      </div>
    </div>

    <!-- LIST TASK -->
    <div class="columns is-centered mt-4">
      <div class="column is-12-mobile is-6-tablet is-4-desktop">
        {% for task in page_obj %}
        <div class="card mb-2">
          <div class="card-content">
            <p class="title is-5">{{ task.task_name }}</p>
            <p class="subtitle is-small">create at {{task.create_at}}</p>
            <button 
              class="button is-small is-info js-modal-trigger"
              data-target="modal-{{ task.id }}">
              Edit
            </button>
          </div>
        </div>
         {% include 'components/modal.html' %}
        {% endfor %}
      </div>
    </div>

    {% include 'components/pagination.html' %}

  </div>
</section>
</body>
</html>