<div class="columns is-centered mt-5">
  <div class="column is-12-mobile is-6-tablet is-4-desktop">
    {% for task in page_obj %}
    <div class="card mb-5">
      <div class="card-content">
        <p class="title is-5 mb-2">
          {{ task.task_name }}
        </p>

        <p class="subtitle is-7 has-text-grey mb-3">
          Created at {{ task.create_at }}
        </p>

        <div class="buttons">
          <button 
            class="button is-small is-info js-modal-trigger"
            data-target="modal-{{ task.id }}">
            Edit
          </button>

          <form action="{% url 'task_app:delete_task' task.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="button is-small is-danger">
              Hapus
            </button>
          </form>

          {% include 'components/succes_button.html' %}
        </div>

      </div>
    </div>

    {% include 'components/modal.html' %}
    {% endfor %}
  </div>
</div>