<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-fullheight is-light">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-12-mobile is-6-tablet is-5-desktop">
              <div class="card">
                <div class="card-content">
                  <form  method="POST" action="{% url 'accounts_app:verifikasi' token %}">
                    {% csrf_token %}
                    <div class="field">
                      <input type="text" name="otp" class="input is-primary" placeholder="masukan kode otp" />
                    </div>
                    <button type="submit" class="button is-primary is-fullwidth">VERIFIKASI</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>